@font-face {
  font-family: 'iconfont';  /* Project id 2890979 */
  src: url('//at.alicdn.com/t/font_2890979_e9r4ggncm3l.woff2?t=1644556406510') format('woff2'),
       url('//at.alicdn.com/t/font_2890979_e9r4ggncm3l.woff?t=1644556406510') format('woff'),
       url('//at.alicdn.com/t/font_2890979_e9r4ggncm3l.ttf?t=1644556406510') format('truetype');
}

.iconfont {
font-family: "iconfont" !important;
font-size: .16rem;
font-style: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}